/* Estilos específicos para el botón de eliminar */
.delete-button {
    -fx-background-color: transparent;
    -fx-text-fill: #6c6c70;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-radius: 50%;
}

/* Estilos para el texto de los elementos de la lista */
.list-item-label {
    -fx-text-fill: #757583;
    -fx-font-size: 9px;

}

/* Estilos para el contenedor HBox (solo para la lista) */
.hbox-container {
    -fx-spacing: 0px;
    -fx-alignment: center;
    -fx-background-color: #dcdcdc;
    -fx-border-color: #b7b8b8;
    -fx-border-width: 1.5px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-pref-height: 15px;
    -fx-min-height: 15px;
    -fx-max-height: 15px;

}

/* Evitar que la ListCell tenga borde o fondo por defecto */
.list-cell {
    -fx-border-width: 0;  /* Elimina el borde */
    -fx-background-color: transparent;  /* Elimina el fondo */
    -fx-alignment: top-center; /* Asegura que el contenido de cada celda esté alineado arriba y centrado */

}
/* Estilo del texto en las opciones del ComboBox */
.combo-box .list-cell {
    -fx-text-fill: #333;  /* Asegura que el texto sea visible en todas las opciones */
}

/* Estilo cuando se pasa el mouse sobre una opción */
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #b7b8b8;  /* Color de fondo al pasar el mouse */
    -fx-text-fill: #000;  /* Mantiene el texto oscuro y legible */
}

/* Estilo de la opción seleccionada */
.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #757583;  /* Fondo de la opción seleccionada */
    -fx-text-fill: #fff;  /* Texto blanco en la opción seleccionada */
}

